@charset "utf-8";
/* CSS Document */
.relative {
    position: relative;
}
.shaixuan-tj{
	font-size: 14px;
}
.shaixuan-tj span , .shaixuan-tj i {
	margin: 10px 5px 10px 0; 
	float: left;
	line-height: 28px;
	height: 28px;
}
.border {
    border: 1px #ddd solid;
}
.mb10 {
    margin-bottom: 10px;
}
.shaixuan-tj span.crumb-select-item{
	position: relative;
    float: left;
    height: 26px;
    line-height: 26px;
    border: 1px solid #DDD;
    font-size: 12px;
    vertical-align: top;
    padding: 0 32px 0 4px;
    cursor: pointer;
    background: #f3f3f3;
}
.shaixuan-tj span.crumb-select-item i{
	float: none;
	margin: 0;
    display: block;
    position: absolute;
    width: 25px;
    text-align: center;
    height: 26px;
    line-height: 26px;
    right: 0;
    top: 0;
}

.shaixuan-tj span.crumb-select-item em , .shaixuan-tj span.crumb-select-item i{
    color: #e4393c;
}
.shaixuan-tj span.crumb-select-itemon{
	border-color: #e4393c;
}
.shaixuan-tj span.crumb-select-itemon i{
	background: #e4393c;
	color: #fff;
}.shaixuan-tj a:hover{
	color: inherit;
}
/*

*/

.shaixuan-tj1{
    font-size: 14px;
}
.shaixuan-tj1 span , .shaixuan-tj1 i {
    margin: 10px 5px 10px 0;
    float: left;
    line-height: 28px;
    height: 28px;
}
.shaixuan-tj1 span.crumb-select-item1{
    position: relative;
    height: 26px;
    line-height: 26px;
    border: 1px solid #DDD;
    font-size: 12px;
    vertical-align: top;
    padding: 0 32px 0 4px;
    cursor: pointer;
    background: #f3f3f3;
}
.shaixuan-tj1 span.crumb-select-item1 i{
    float: none;
    margin: 0;
    display: block;
    position: absolute;
    width: 25px;
    text-align: center;
    height: 27px;
    line-height: 27px;
    right: 0px;
    top: 0;
}
.shaixuan-tj1 span.crumb-select-item1 em , .shaixuan-tj1 span.crumb-select-item1 i{
    color: #e4393c;
}
.shaixuan-tj1 span.crumb-select-itemon1{
    border-color: #e4393c;
}
.shaixuan-tj1 span.crumb-select-itemon1 i{
    background: #e4393c;
    color: #fff;
}.shaixuan-tj1 a:hover{
     color: inherit;
 }

 /*


 */

.shaixuan-tj2{
    font-size: 14px;
}
.shaixuan-tj2 span , .shaixuan-tj2 i {
    margin: 10px 5px 10px 0;
    float: left;
    line-height: 28px;
    height: 28px;
}
.shaixuan-tj2 span.crumb-select-item2{
    position: relative;
    height: 26px;
    line-height: 26px;
    border: 1px solid #DDD;
    font-size: 12px;
    vertical-align: top;
    padding: 0 32px 0 4px;
    cursor: pointer;
    background: #f3f3f3;
}
.shaixuan-tj2 span.crumb-select-item2 i{
    float: none;
    margin: 0;
    display: block;
    position: absolute;
    width: 25px;
    text-align: center;
    height: 27px;
    line-height: 26px;
    right: -1px;
    top: 0;
}
.shaixuan-tj2 span.crumb-select-item2 em , .shaixuan-tj2 span.crumb-select-item2 i{
    color: #e4393c;
}
.shaixuan-tj2 span.crumb-select-itemon2{
    border-color: #e4393c;
}
.shaixuan-tj2 span.crumb-select-itemon2 i{
    background: #e4393c;
    color: #fff;
}.shaixuan-tj2 a:hover{
     color: inherit;
 }

/*


*/

.shaixuan-tj3{
    font-size: 14px;
}
.shaixuan-tj3 span , .shaixuan-tj3 i {
    margin: 10px 5px 10px 0;
    float: left;
    line-height: 28px;
    height: 28px;
}
.shaixuan-tj3 span.crumb-select-item3{
    position: relative;
    height: 26px;
    line-height: 26px;
    border: 1px solid #DDD;
    font-size: 12px;
    vertical-align: top;
    padding: 0 32px 0 4px;
    cursor: pointer;
    background: #f3f3f3;
}
.shaixuan-tj3 span.crumb-select-item3 i{
    float: none;
    margin: 0;
    display: block;
    position: absolute;
    width: 25px;
    text-align: center;
    height: 27px;
    line-height: 26px;
    right: -1px;
    top: 0;
}
.shaixuan-tj3 span.crumb-select-item3 em , .shaixuan-tj3 span.crumb-select-item3 i{
    color: #e4393c;
}
.shaixuan-tj3 span.crumb-select-itemon3{
    border-color: #e4393c;
}
.shaixuan-tj3 span.crumb-select-itemon3 i{
    background: #e4393c;
    color: #fff;
}.shaixuan-tj3 a:hover{
     color: inherit;
 }

/*


*/
.shaixuan-btn{
	float: right;
	width: 105px;
}
.shaixuan-btn span{
	display: block;
	float: right;
	border: 1px solid #e8e8e8;
	height: 34px;
	width: 103px;
	line-height: 34px;
	margin: 6px 0;
	background: #f6f6f6;
	font-size: 14px;
	color: #666;
	text-align: center;
	cursor: pointer;
}
.shaixuan-btn span i{
	font-size: 18px;
	color: #666;
	margin-left: 5px;
}
.search-by{
	padding: 0 20px;
	width: 906px;
}
.search-by dl{
	width: 906px;
	padding: 10px 0;
	line-height: 30px;
	border-bottom: 1px dotted #CCC;
    overflow: hidden;
}
.search-by dl dt a{
	font-weight: inherit;
	color: #666;
	line-height: 30px;
}
.search-by dl dt{
	width: 82px;
	text-align: center;
	margin: 0;
	font-size: 14px;
}
.search-by dl dd a{
	color: #333;
	font-size: 14px;
	line-height: 30px;
	margin-left: 20px;
	display: inline-block;
}
.search-by dl dd{
	width: 754px;
	font-size: 14px;
	height: 30px;
	overflow: hidden;
}
.search-by dl dd.show-more{
	width: 70px;
	padding: 0;
	text-align: right;
	cursor: pointer;
}
.search-by dl dd.show-more1{
    width: 70px;
    padding: 0;
    text-align: right;
    cursor: pointer;
}
.search-by dl dd.show-more2{
    width: 70px;
    padding: 0;
    text-align: right;
    cursor: pointer;
}
.search-by dl dd.show-more3{
    width: 70px;
    padding: 0;
    text-align: right;
    cursor: pointer;
}
.search-by dl dd.show-more7{
    width: 70px;
    padding: 0;
    text-align: right;
    cursor: pointer;
}
.search-by dl dd.show-more6{
    width: 70px;
    padding: 0;
    text-align: right;
    cursor: pointer;
}
.search-by dl dd.show-more h3{
	background: none;
	border: none;
	font-size: 14px;
	line-height: 14px;
	height: 30px;
	line-height: 30px;
}
.search-by dl dd.show-more h3 i{
	background: none;
	float: none;
	display: inline-block;
	font-size: 16px;
	margin-left: 5px;
}

/*

*/

.shaixuan-tj5{
    font-size: 14px;
}
.shaixuan-tj5 span , .shaixuan-tj5 i {
    margin: 10px 5px 10px 0;
    float: left;
    line-height: 28px;
    height: 28px;
}
.shaixuan-tj5 span.crumb-select-item5{
    position: relative;
    height: 26px;
    line-height: 26px;
    border: 1px solid #DDD;
    font-size: 12px;
    vertical-align: top;
    padding: 0 32px 0 4px;
    cursor: pointer;
    background: #f3f3f3;
}
.shaixuan-tj5 span.crumb-select-item5 i{
    float: none;
    margin: 0;
    display: block;
    position: absolute;
    width: 25px;
    text-align: center;
    height: 27px;
    line-height: 27px;
    right: 0px;
    top: 0;
}
.shaixuan-tj5 span.crumb-select-item5 em , .shaixuan-tj5 span.crumb-select-item5 i{
    color: #e4393c;
}
.shaixuan-tj5 span.crumb-select-itemon5{
    border-color: #e4393c;
}
.shaixuan-tj5 span.crumb-select-itemon5 i{
    background: #e4393c;
    color: #fff;
}.shaixuan-tj5 a:hover{
     color: inherit;
 }


/*

*/

.shaixuan-tj6{
    font-size: 14px;
}
.shaixuan-tj6 span , .shaixuan-tj6 i {
    margin: 10px 5px 10px 0;
    float: left;
    line-height: 28px;
    height: 28px;
}
.shaixuan-tj6 span.crumb-select-item6{
    position: relative;
    height: 26px;
    line-height: 26px;
    border: 1px solid #DDD;
    font-size: 12px;
    vertical-align: top;
    padding: 0 32px 0 4px;
    cursor: pointer;
    background: #f3f3f3;
}
.shaixuan-tj6 span.crumb-select-item6 i{
    float: none;
    margin: 0;
    display: block;
    position: absolute;
    width: 25px;
    text-align: center;
    height: 27px;
    line-height: 27px;
    right: 0px;
    top: 0;
}
.shaixuan-tj6 span.crumb-select-item6 em , .shaixuan-tj6 span.crumb-select-item6 i{
    color: #e4393c;
}
.shaixuan-tj6 span.crumb-select-itemon6{
    border-color: #e4393c;
}
.shaixuan-tj6 span.crumb-select-itemon6 i{
    background: #e4393c;
    color: #fff;
}.shaixuan-tj6 a:hover{
     color: inherit;
 }
/*

*/

.shaixuan-tj7{
    font-size: 14px;
}
.shaixuan-tj7 span , .shaixuan-tj7 i {
    margin: 10px 5px 10px 0;
    float: left;
    line-height: 28px;
    height: 28px;
}
.shaixuan-tj7 span.crumb-select-item7{
    position: relative;
    height: 26px;
    line-height: 26px;
    border: 1px solid #DDD;
    font-size: 12px;
    vertical-align: top;
    padding: 0 32px 0 4px;
    cursor: pointer;
    background: #f3f3f3;
}
.shaixuan-tj7 span.crumb-select-item7 i{
    float: none;
    margin: 0;
    display: block;
    position: absolute;
    width: 25px;
    text-align: center;
    height: 27px;
    line-height: 27px;
    right: 0px;
    top: 0;
}
.shaixuan-tj7 span.crumb-select-item7 em , .shaixuan-tj7 span.crumb-select-item7 i{
    color: #e4393c;
}
.shaixuan-tj7 span.crumb-select-itemon7{
    border-color: #e4393c;
}
.shaixuan-tj7 span.crumb-select-itemon7 i{
    background: #e4393c;
    color: #fff;
}.shaixuan-tj7 a:hover{
     color: inherit;
 }
