		<link rel="stylesheet" href="__PUBLIC__/assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/assets/css/font-awesome.min.css" />
		<!-- page specific plugin styles -->
		<link rel="stylesheet" href="__PUBLIC__/assets/css/chosen.css" />
		<link rel="stylesheet" href="__PUBLIC__/assets/css/jquery-ui.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/assets/css/datepicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/assets/css/ui.jqgrid.css" />
		<!-- text fonts -->
		<link rel="stylesheet" href="__PUBLIC__/assets/css/ace-fonts.css" />
		<!-- ace styles -->
		<link rel="stylesheet" href="__PUBLIC__/assets/css/ace.min.css" id="main-ace-style" />
		<link rel="stylesheet" href="__PUBLIC__/assets/css/ace-skins.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/assets/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/assets/css/page.css" />
		<!-- ace settings handler -->
		<script src="__PUBLIC__/assets/js/ace-extra.min.js"></script>
		<script type="text/javascript">
			window.jQuery || document.write("<script src='__PUBLIC__/assets/js/jquery.min.js'>"+"<"+"/script>");
		</script>
		<script src="__PUBLIC__/assets/js/bootstrap.min.js"></script>
		<!-- page specific plugin scripts -->
		<script src="__PUBLIC__/assets/js/date-time/bootstrap-datepicker.min.js"></script>
		<script src="__PUBLIC__/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
		<script src="__PUBLIC__/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
		<!-- ace scripts -->
		<script src="__PUBLIC__/assets/js/ace-elements.min.js"></script>
		<script src="__PUBLIC__/assets/js/ace.min.js"></script>
		<link rel="stylesheet" href="__PUBLIC__/assets/css/ace.onpage-help.css" />
		<script src="__PUBLIC__/assets/js/jquery.page.js"></script>
